$link-color: black;

* {
  font-family: Roboto-Thin;
}

h1 {
  font-size: 30pt;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 49;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#content {

  margin: auto;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 50;

  a, div {
    position: relative;
    z-index: 100;
    font-size: 20pt;
    text-decoration: none;
    color: $link-color;
    display: block;
  }
}

#count {
  color: rgba(135, 135, 135, 0.49);
  z-index: 1;
  display: inline-block;
  line-height: 100vh;
  position: absolute;
  left: 0;
  right: 0;

}

#finish {
  margin: auto;
  text-align: center;
  vertical-align: middle;
  position: relative;
  z-index: 50;
  top: 60vh;
  display: none;

  a, div {
    position: relative;
    z-index: 100;
    font-size: 20pt;
    text-decoration: none;
    color: $link-color;
    display: block;
  }
}

.clickable {
  cursor: pointer;
}

.overlay {
  background:#ffffff;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: none;
  -webkit-border-radius: 37px;
  border-radius: 37px;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-box-shadow: 0 0 26px 15px white ;
  box-shadow: 0 0 26px 15px white ;
  //  display: none;
}